.price {
   
  text-align: center;
  margin-bottom: 69px;
  @include tablet {
    padding: 0px 35px;
    }
    @include desktop {
      padding-bottom: 90px;
    }

  h2 {
    font-size: 23px;
    color: $veryLightBlue;
    margin-bottom: 66px;
    @include tablet {
    font-size:45px;
    padding: 0rem 3rem;
    }
    @include desktop {
    padding: 0px 15rem;
    font-size: 50px;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__card {
    border: 1px solid #f2f2f2;
    padding: 56px 40px 69px;
    border-radius: 6px;
    background: #fff;
}
    .card2{
box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
transition: all 250ms ease-in-out;
    }
    @include desktop {
    .card1:hover,.card3:hover{
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 250ms ease-in-out;
        }
    }
  &__card__icon {
    span::before {
      font-size: 73px;
      margin-bottom: 10px;
      display: inline-block;
      color: $pink;
    }
  }
  &__card__body {
    h4 {
      color: #2b4b80;
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 42px;
    }
    ul {
      padding-left: 0px;
    }
    li {
      margin-bottom: 17px;
      font-size: 17px;
    }
  }
}
.pricing-plan{
    position: relative;
}
.pricing-plan::after{
    background-image: url("/images/pricing.png");
  content: "";
  position: absolute;
  z-index: -1;
  min-height: 188%;
  min-width: 32%;
  background-repeat: no-repeat;
  right: 25px;
  top: -22%;
}
