//colors
$white:#ffffff;
$veryLightBlue:#2b4b80;
//button
$pink:#ff5c97;
$darkPink:#ec4683;
$violet:#7b40c0;
$darkViolet:#2e1088;
//text
$lightViolet:#4043bc;
$grey:#707b8e;
$darkBlue:#012f5f;
$Blue:#233d63;
$lightblue:#002e5b;