@charset "UTF-8";
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a:hover {
  cursor: pointer;
}

body {
  max-width: 85.375em;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  color: #707b8e;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.container--pall {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.container--desk {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container--px {
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;
}

.container--py {
  padding-top: 2.4375rem;
  padding-bottom: 2.4375rem;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #002e5b;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  color: white;
  border-radius: 6px;
  cursor: pointer;
  padding: 17px 42px;
  min-width: 200px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
  position: relative;
}

.button::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background-color: #ec4683;
}

.button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (min-width: 2px) and (max-width: 991px) {
  .for-desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  .for-mobile {
    display: none;
  }
}

.header {
  background: url("/images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    background-position: center;
  }
}

.header nav {
  width: 100%;
  padding: 0px 15px;
}

.header nav.scrolled {
  position: fixed;
  background-color: #fff;
  z-index: 3;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header nav {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header nav {
    padding: 11px 15px;
  }
}

.header__logo img {
  width: 7.6875rem;
  height: 2.375rem;
  margin-top: 5px;
}

.header__hamburgerbtn > span {
  display: block;
  width: 1.875rem;
  height: 0.1875rem;
  background-color: #ff5c97;
}

.header__hamburgerbtn > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__links {
  position: relative;
}

.header__links a {
  font-size: 1rem;
  font-weight: 400;
  color: #002e5b;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: #ff5c97;
}

.header__dropdownlink1, .header__dropdownlink2 {
  position: relative;
}

.header__subdropdown1 {
  left: 69%;
}

.header__subdropdown2 {
  left: 85%;
}

.header__subdropdown1, .header__subdropdown2 {
  position: absolute;
  display: none;
  width: 170px;
  background-color: white;
  border-top: 5px solid #4043bc;
  margin-top: 2rem;
  -webkit-box-shadow: 0px 3px 3px 3px whitesmoke;
          box-shadow: 0px 3px 3px 3px whitesmoke;
  z-index: 1;
  padding: 17px 0px 10px 14px;
}

.header__subdropdown1 li, .header__subdropdown2 li {
  padding-bottom: 13px;
  display: block;
}

.header__subdropdown1 li a, .header__subdropdown2 li a {
  font-size: 14px;
  letter-spacing: 0.2px;
  display: block;
}

.header__dropdownlink1:hover .header__subdropdown1 {
  display: block;
}

.header__button {
  right: 6%;
}

.header__cta {
  background-color: #4043bc;
  padding: 10px 12px;
}

.header__menu {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #002e5b;
  padding: 19px;
  z-index: 4;
  border-bottom: 1px solid whitesmoke;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__menu {
    z-index: 1;
    background-color: white;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 0px;
  }
}

@media (min-width: 1px) and (max-width: 767px) {
  .header__menu {
    z-index: 1;
    background-color: white;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 0px;
  }
}

.header__menu li {
  padding: 10px 0 16px 19px;
}

.header__menu li a:hover {
  color: #ff5c97;
  cursor: pointer;
}

.header__menu span::before {
  font-size: 13px;
  font-weight: bold;
  color: #002e5b;
  padding-right: 24px;
}

.header__submenu1, .header__submenu2 {
  margin: 0;
  padding-left: 20px;
}

.hero {
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    padding: 0 3rem;
  }
}

.hero .container--desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 auto;
}

.hero__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: 0;
  position: relative;
  padding: 17px 0px;
}

.hero__text h1::before {
  content: "";
  position: absolute;
  background: url("/images/plus.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: 57%;
  top: -70px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero__text h1::before {
    left: 42%;
    top: -25px;
  }
}

@media (min-width: 992px) {
  .hero__text h1::before {
    left: 51%;
    top: -26px;
  }
}

.hero__text h1 {
  font-size: 29px;
  color: #2b4b80;
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
  margin-top: 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero__text h1 {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .hero__text h1 {
    font-size: 60px;
    margin-top: 46px;
    font-weight: 900;
  }
}

.hero__text p::after {
  content: "";
  position: absolute;
  background: url("/images/plus.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  bottom: -57px;
  left: 66%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero__text p::after {
    left: 38%;
    bottom: -13px;
  }
}

@media (min-width: 992px) {
  .hero__text p::after {
    left: 43%;
    bottom: 22%;
  }
}

.hero__text p {
  line-height: 1.8rem;
  margin-bottom: 54px;
}

@media (min-width: 1px) and (max-width: 767px) {
  .hero__text p {
    width: 89%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero__text p {
    width: 63%;
  }
}

.hero__cta {
  background: #ff5c97;
}

.hero__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: 0;
  position: relative;
  height: 610px;
  width: 100%;
  background-image: url("/images/hero_right.png");
  background-size: 93%;
  background-repeat: no-repeat;
}

.business {
  margin-top: 80px;
  padding-top: 80px;
  margin-bottom: 75px;
}

@media (min-width: 992px) {
  .business {
    padding-top: 240px;
  }
}

.business h2 {
  text-align: center;
  color: #2b4b80;
  font-weight: 700;
  margin-bottom: 66px;
  font-size: 23px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .business h2 {
    padding: 0px 24px;
  }
}

@media (min-width: 768px) {
  .business h2 {
    font-size: 45px;
  }
}

.business .business__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .business .business__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .business .business__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.business__card {
  max-height: 400px;
  text-align: center;
  padding: 35px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .business__card {
    max-width: 330px;
  }
}

.business .card1:hover, .business .card3:hover {
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.business .card1:hover a, .business .card3:hover a {
  color: #7b40c0;
}

.business .card1:hover i, .business .card3:hover i {
  background-color: #7b40c0;
}

.business .card2 {
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.business .card2 a {
  color: #7b40c0;
}

.business .card2 i {
  background-color: #7b40c0;
}

.business__card__icon {
  margin-bottom: 20px;
}

.business__card__icon span::before {
  display: inline;
  color: #ff5c97;
  font-size: 63px;
}

.business__card__title {
  font-size: 24px;
  margin-bottom: 23px;
  color: #2b4b80;
  font-weight: 600;
}

.business__card__body {
  margin-bottom: 40px;
}

.business__card__body p {
  line-height: 30px;
  margin-bottom: 40px;
}

.business__card__body i {
  width: 25px;
  height: 25px;
  font-size: 14px;
  border-radius: 50%;
  color: white;
  background-color: #c5ccd8;
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.business__card__body a {
  text-transform: uppercase;
  color: #c5ccd8;
  font-size: 13px;
}

@media (min-width: 992px) {
  .your-business {
    position: relative;
    padding-bottom: 13rem;
  }
  .your-business::before {
    background-image: url("/images/business-left-bg.png");
    content: "";
    position: absolute;
    z-index: -1;
    min-height: 467px;
    min-width: 249px;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }
  .your-business::after {
    background-image: url("/images/business-right-bg.png");
    content: "";
    position: absolute;
    z-index: -1;
    min-height: 467px;
    min-width: 352px;
    background-repeat: no-repeat;
    right: 0;
    top: 32%;
  }
}

.product {
  padding-bottom: 90px;
  padding-right: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .product {
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.product__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product__image img {
  width: 100%;
}

.product__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.product__text h3 {
  color: #2b4b80;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 29px;
  margin-top: 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .product__text h3 {
    font-size: 42px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .product__text h3 {
    font-size: 29px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .product__text h3 {
    font-size: 50px;
    font-weight: 900;
  }
}

.product__text p {
  margin-bottom: 56px;
  line-height: 30px;
  width: 95%;
}

.product__cta {
  background: #ff5c97;
}

.digital-product {
  position: relative;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .digital-product::after {
    background-image: url("/images/digital-bg.png");
    content: "";
    position: absolute;
    z-index: -1;
    min-height: 262px;
    min-width: 207px;
    background-repeat: no-repeat;
    right: 0;
    bottom: 13%;
  }
}

.generating {
  margin-bottom: 4.5rem;
}

@media (min-width: 992px) {
  .generating {
    margin-bottom: 160px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .generating {
    padding: 0px 35px;
  }
}

.generating h2 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 66px;
  color: #2b4b80;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .generating h2 {
    font-size: 45px;
  }
}

@media (min-width: 992px) {
  .generating h2 {
    font-size: 50px;
    padding: 0px 14rem;
  }
}

.generating__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 35px;
}

@media (min-width: 992px) {
  .generating__cards {
    gap: 25px;
  }
}

@media (min-width: 768px) {
  .generating__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.generating__card {
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 20px 0px 10px 0px;
}

@media (min-width: 992px) {
  .generating__card {
    padding: 40px 29px 40px 40px;
    max-width: 550px;
  }
}

@media (min-width: 992px) {
  .generating__card:hover {
    -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
}

.generating__card__icon {
  margin-left: -9px;
}

.generating__card__icon span::before {
  font-size: 41px;
  color: #ff5c97;
}

@media (min-width: 992px) {
  .generating__card__icon span::before {
    font-size: 60px;
  }
}

.generating__card__title {
  color: #2b4b80;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 29px;
}

.generating__card__body {
  margin-left: 28px;
}

.generating__card__body p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .generating__card__body p {
    width: 86%;
  }
}

.price {
  text-align: center;
  margin-bottom: 69px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .price {
    padding: 0px 35px;
  }
}

@media (min-width: 992px) {
  .price {
    padding-bottom: 90px;
  }
}

.price h2 {
  font-size: 23px;
  color: #2b4b80;
  margin-bottom: 66px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .price h2 {
    font-size: 45px;
    padding: 0rem 3rem;
  }
}

@media (min-width: 992px) {
  .price h2 {
    padding: 0px 15rem;
    font-size: 50px;
  }
}

.price__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 35px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .price__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .price__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.price__card {
  border: 1px solid #f2f2f2;
  padding: 56px 40px 69px;
  border-radius: 6px;
  background: #fff;
}

.price .card2 {
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

@media (min-width: 992px) {
  .price .card1:hover, .price .card3:hover {
    -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
}

.price__card__icon span::before {
  font-size: 73px;
  margin-bottom: 10px;
  display: inline-block;
  color: #ff5c97;
}

.price__card__body h4 {
  color: #2b4b80;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 42px;
}

.price__card__body ul {
  padding-left: 0px;
}

.price__card__body li {
  margin-bottom: 17px;
  font-size: 17px;
}

.pricing-plan {
  position: relative;
}

.pricing-plan::after {
  background-image: url("/images/pricing.png");
  content: "";
  position: absolute;
  z-index: -1;
  min-height: 188%;
  min-width: 32%;
  background-repeat: no-repeat;
  right: 25px;
  top: -22%;
}

.visit {
  margin-bottom: 66px;
  margin-right: auto;
  margin-left: auto;
}

.visit h2 {
  font-size: 23px;
  color: #2b4b80;
  text-align: center;
  padding-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .visit h2 {
    font-size: 45px;
    padding: 0rem 2rem;
    margin-bottom: 66px;
  }
}

@media (min-width: 992px) {
  .visit h2 {
    font-size: 50px;
    font-weight: 700;
    padding: 0rem 22.5rem 30px 22.5rem;
  }
}

.visit__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .visit__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .visit__cards {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.visit__card__image {
  position: relative;
}

.visit__card__image img {
  width: 100%;
}

.visit__card__text {
  padding: 20px 40px;
  border-radius: 0px 15px 0px 0px;
  position: absolute;
  background-color: white;
  bottom: 0px;
  width: 80%;
  height: 28%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .visit__card__text {
    width: 85%;
  }
}

.visit__card__text a {
  font-size: 30px;
  font-weight: 600;
  color: #2b4b80;
}

@media (min-width: 992px) {
  .visit__card__text a:hover {
    color: #ff5c97;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.visit__card__text p {
  margin-top: 9px;
  font-weight: 400;
}

.testimonial {
  text-align: center;
  margin-bottom: 55px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial {
    margin-bottom: 60px;
  }
}

.testimonial h2 {
  color: #2b4b80;
  font-weight: 700;
  margin-bottom: 46px;
  font-size: 23px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial h2 {
    font-size: 45px;
    width: 58%;
  }
}

@media (min-width: 992px) {
  .testimonial h2 {
    font-size: 45px;
    padding: 0rem 22.5rem 30px 22.5rem;
  }
}

.testimonial__slide p {
  margin-bottom: 30px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial__slide p {
    line-height: 1.5;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .testimonial__slide p {
    font-size: 20px;
  }
}

.testimonial__image {
  padding-top: 12px;
}

.testimonial__image img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial ul {
  padding-left: 10px;
}

.testimonial ul span {
  font-size: 25px;
  color: #2e1088;
  font-weight: 600;
  margin-bottom: 15px;
}

.testimonial ul li {
  color: #707b8e;
  padding-right: 0px;
  font-size: 15px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .autoplay {
    width: 73%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .autoplay::before {
    content: "“";
    font-size: 14rem;
    top: 37px;
    position: absolute;
    top: -44%;
    left: -14%;
    color: #e3def0;
  }
  .autoplay::after {
    content: "„";
    font-size: 14rem;
    top: 37px;
    position: absolute;
    top: -8%;
    right: -14%;
    color: #e3def0;
  }
  .testimonial:hover .autoplay::before,
  .testimonial:hover .autoplay::after {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color: #c2aff2;
  }
}

.tips {
  margin-bottom: 66px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .tips {
    margin-bottom: 95px;
  }
}

@media (min-width: 992px) {
  .tips {
    margin-bottom: 180px;
  }
}

.tips h2 {
  font-size: 23px;
  color: #2b4b80;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 48px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .tips h2 {
    font-size: 45px;
    width: 58%;
  }
}

@media (min-width: 992px) {
  .tips h2 {
    margin-bottom: 100px;
    font-size: 50px;
    font-weight: 700;
    width: 50%;
  }
}

.tips__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 35px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .tips__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .tips__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .tips__card:hover img {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

.tips__card__image {
  border-radius: 5px;
  overflow: hidden;
}

.tips__card__image img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.tips__card__body h4 {
  color: #2b4b80;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 26px;
  padding-right: 27px;
}

@media (min-width: 992px) {
  .tips__card__body h4:hover {
    color: #ff5c97;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.tips__card__body span {
  position: relative;
  display: block;
  font-size: 16px;
  top: 5px;
  color: #233d63;
  padding-left: 48px;
  margin-bottom: 26px;
}

.tips__card__body span::before {
  content: "";
  width: 30px;
  height: 2.5px;
  background: #7b40c0;
  position: absolute;
  top: 11px;
  left: 0px;
}

.tips__card__body p {
  color: #ff5c97;
}

.have {
  padding: 1rem 2rem 3rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 92, 151, 0.95)), to(rgba(123, 64, 192, 0.95))), url("/images/have.jpg") no-repeat;
  background: linear-gradient(0.25turn, rgba(255, 92, 151, 0.95), rgba(123, 64, 192, 0.95)), url("/images/have.jpg") no-repeat;
  color: white;
  border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .have {
    padding-left: 3.5rem;
    margin: 0 2.5rem;
  }
}

@media (min-width: 992px) {
  .have {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 2rem 1rem 5rem;
  }
}

@media (min-width: 992px) {
  .have__text {
    width: 80%;
  }
}

.have__text h2 {
  margin-bottom: 18px;
  font-size: 31px;
  width: 69%;
}

@media (min-width: 768px) {
  .have__text h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 13px;
  }
}

.have__text p {
  padding-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  width: 90%;
}

@media (min-width: 768px) {
  .have__text p {
    font-size: 17px;
    width: 88%;
  }
}

@media (min-width: 992px) {
  .have__text p {
    width: 72%;
  }
}

@media (min-width: 992px) {
  .have__button {
    padding-top: 5rem;
  }
}

.have__cta {
  color: #7b40c0;
  background-color: white;
  padding: 18px 52px;
}

@media (min-width: 992px) {
  .have__cta:hover {
    color: white;
  }
}

.footer {
  background-image: url("/images/footer_bg.png");
  width: 100%;
  padding-top: 70px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 992px) {
  .footer {
    padding-top: 150px;
    padding-bottom: 2rem;
  }
}

.footer__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__links {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .footer__links {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4rem;
  }
}

.footer__logo img {
  margin-bottom: 20px;
}

.footer__link ul {
  line-height: 1.8;
  padding-left: 0px;
}

.footer__link h3 {
  color: #233d63;
  font-size: 20px;
  margin-bottom: 38px;
  font-weight: 600;
  margin-top: 6px;
}

.footer__link a {
  font-size: 17px;
}

.footer__address {
  width: 71%;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer__email {
  font-weight: 400;
  margin-bottom: 50px;
}

.footer__social_icon li {
  font-size: 14px;
  margin-right: 11px;
  padding: 4px 12px;
  color: #949eb2;
  border: 1px solid #fafafa;
  background-color: #fafafa;
}

@media (min-width: 992px) {
  .footer__social_icon li:hover {
    color: white;
    background-color: #ff5c97;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.footer h4 {
  color: #949eb2;
  line-height: 2;
  margin-bottom: 12px;
  font-weight: 400;
  text-align: center;
  padding: 0px 48px;
}

.f2 li,
.f3 li,
.f4 li {
  padding-bottom: 15px;
}

.f2 a,
.f3 a,
.f4 a {
  color: #707b8e;
}

@media (min-width: 992px) {
  .f2 a:hover,
  .f3 a:hover,
  .f4 a:hover {
    color: #ff5c97;
    padding-left: 5px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.up__button {
  position: fixed;
  background: #ff5c97;
  height: 50px;
  width: 50px;
  right: 5%;
  bottom: 18px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid #ff5c97;
}

@media (min-width: 768px) and (max-width: 991px) {
  .up__button {
    right: 4%;
  }
}

@media (min-width: 992px) {
  .up__button {
    right: 4%;
  }
}

@-webkit-keyframes btn-color {
  from {
    visibility: visible;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes btn-color {
  from {
    visibility: visible;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.btn-color {
  -webkit-animation: fade-in 200ms linear forwards;
          animation: fade-in 200ms linear forwards;
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}
/*# sourceMappingURL=style.css.map */